
body {
    background: #315642;
    font-family: Arial;
}
h1 {
    color: red;
}
/* ZxgUXX2t2YBhCkRitQR9Nfzq9UVYxDlnG2qGiFJsMHkuNbSdqQu8uSONC7tnpDJfIx5ZyzYoaLVlXBrykNJTIjCDaYUvoYcO3gNBFq4giXrwmCD1Jmwbv0OwaQlYxci3K78in20LvvXib47MRPXu432XQjHkKqSB7NyqT1pS9pd7Fg0xHb77broIg9aX24n5WIDRwcEd */
